<a href="https://colab.research.google.com/github/TapanManu/Pyweek/blob/master/1/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

List is a collection which is ordered and mutable. Allows duplicate members.

#Task 1
Lets create a list

Lets name him first_list

In [1]:
first_list=[]

# Task 2

first_list is ready

Let's see the elements

In [2]:
print(first_list)

[]

 Oh it's empty !!

 But how do we add elements to that ?

 Letzz do that !!

 There are two possible ways !! 

 > 1.Initialise

 > 2.Add elements

In [3]:
#Lets initialise
second_list=[1]
print(second_list)
second_list=[2]
print(second_list)
second_list=[1,2]
print(second_list)

[1]
[2]
[1, 2]

But the contents are overwritten!!

How to add elements without overwriting the previous

We should use append() function

In [4]:
#reinitialising second list
second_list=[1,2]
print("list before appending :",second_list)
second_list.append(3)
print("list after appending value 3 :",second_list)

list before appending : [1, 2]
list after appending value 3 : [1, 2, 3]

Hence we can append values to the end of existing list

It is possible to add values to existing empty list

let's do with a for loop

<b>A for loop to add elements in the given order to list</b>

In [5]:
for i in range(1,6):
  first_list.append(i)

In [6]:
print("first list:",first_list)

first list: [1, 2, 3, 4, 5]

Extending to another list

In [27]:
list_1 = [1,2,3]
list_2 = [4,5]
print("list 1 before extending",list_1)
list_1.extend(list_2)
print("list after extending list 2",list_1)
list3 = [0,9]

#concatenate two lists
list_1 = list_1+list3
print("list 1:",list_1)

list 1 before extending [1, 2, 3]
list after extending list 2 [1, 2, 3, 4, 5]
list 1: [1, 2, 3, 4, 5, 0, 9]

Removing elements from list

In [7]:
first_list.remove(5)

In [8]:
print(first_list)

[1, 2, 3, 4]

In [9]:
first_list.remove(3)
print(first_list)

[1, 2, 4]

popping from list

removes an element and returns it

In [22]:
third_list= list((4,3,5,6,7))   # we can create list using list constructor
print(third_list)

#third_list.pop(5)
a=third_list.pop(3) 
print("third list",third_list)
print("popped item",a)

#b = del third_list[4]
#del removes the list items or even entire list
del third_list[2]
print("third list after deleting index 2",third_list)

#remove all the contents of list
#lets initialise sample list
sample = [3,2,1]
print("sample before clear",sample)
sample.clear()

print("sample after clear",sample)

#deleting entire list
del third_list
#print(third_list)  #deletes the list completely

#NameError                                 Traceback (most recent call last)

#NameError: name 'third_list' is not defined

[4, 3, 5, 6, 7]
third list [4, 3, 5, 7]
popped item 6
third list after deleting index 2 [4, 3, 7]
sample before clear [3, 2, 1]
sample after clear []

NB: list() constructor finds its relevance when you can only use it to transform iterables into their list representation like tuples into list.

#Task 3

List traversing

How to traverse list?

Before that we need to know how to get list length??

So i introduce you ..........

In [11]:
#length function
print("length of first list:",len(first_list))
print("length of second list:",len(second_list))

length of first list: 3
length of second list: 3

Now let's begin traversing.........

In [12]:
length = len(first_list)

for i in range(length):
  print("index",i,":",first_list[i])

index 0 : 1
index 1 : 2
index 2 : 4

See we have traversed the list using range()

<b>Notice that index of list begins from 0 not 1!!!

<b>And index ends in 4 not in 5

Let's check that

please uncomment first line

In [13]:
#print(first_list[5])
#IndexError                                Traceback (most recent call last)

#<ipython-input-19-8fa919c68a19> in <module>()
#----> 1 print(first_list[5])

#IndexError: list index out of range

In [85]:
#second method (commonly used list method of traversing)

for x in first_list:
  print("index",first_list.index(x),":",x)

#in each loop
# here,each element is assigned to x instead of indices in list
# x = first_list[0]
# x = first_list[1]
# ...........

print(first_list[::1])  #third parameter is step parameter (1 by default)
print(first_list[::2])  #step is two,skips one element
print(first_list[::3])  #step is three,skips two elements

index 0 : 1
index 1 : 2
index 2 : 4
[1, 2, 4]
[1, 4]
[1]

# Task 4

Accessing items from list
using index number

(refer for loop)

In [15]:
#access second item from list
print(first_list[1])

2

In [16]:
#access range of items from list
print(first_list[0:3])
#from index 1 to 4
print(first_list[1:5])

[1, 2, 4]
[2, 4]

returns a subset of previous list from m to n-1

if first_list[m:n] provided

In [17]:
#negative indexing
#index begins from last.....
print(first_list[-1])

print(first_list[-2])

print(first_list[-1:-2])

4
2
[]

Here we can see that list slicing did not work for range -1 to -2

Do you know why??

The indexing must be from -2 to -1 not from -1 to -2

In [18]:
print(first_list[-2:-1])

print(first_list[-3:-1])

print(first_list[2:-1])

[2]
[1, 2]
[]

accessing without specifying indices

In [19]:
print(first_list[1:])

print(first_list[:3])

print(first_list[:])

[2, 4]
[1, 2, 4]
[1, 2, 4]

# Tasks 5
List references and copying

In [25]:
list1 = [1,2,3,4]
print("list 1",list1)

list2 = list1
print("list 2",list2)

list2.append(5)
#even though only appending 5 to list 2,both lists are changed
#this is because address of both lists are same
#points to same memory address
print("list 1",list1)
print("list 2",list2)

list 1 [1, 2, 3, 4]
list 2 [1, 2, 3, 4]
list 1 [1, 2, 3, 4, 5]
list 2 [1, 2, 3, 4, 5]

In [26]:
list3 = list1.copy()
print("list 1",list1)
print("list 3",list3)

list3.append(6)    # only copy of list is maintained
#address is different

print("list 1",list1)
print("list 3",list3)

list 1 [1, 2, 3, 4, 5]
list 3 [1, 2, 3, 4, 5]
list 1 [1, 2, 3, 4, 5]
list 3 [1, 2, 3, 4, 5, 6]

#Task 6

Reversing and sorting lists

In [37]:
list1=[4,5,3,2,1]
print("list 1",list1)

list1.reverse()
#reversed list
print("reversed list",list1)

list1.sort()
#sorted list
print("sorted list",list1)

list 1 [4, 5, 3, 2, 1]
reversed list [1, 2, 3, 5, 4]
sorted list [1, 2, 3, 4, 5]

#Task 7

split() function

In [39]:
str = "hello world"
list = str.split(' ')
print("splitting at whitespace:",list)

list = str.split('o')
print("splitting at o",list)

splitting at whitespace: ['hello', 'world']
splitting at o ['hell', ' w', 'rld']

# Task 8

mutability

In [40]:
list=[1,2,3,4]
list[1]=5

print("list changed",list)

list changed [1, 5, 3, 4]

# Task 9
 
List Comprehension

In [70]:
import timeit

#normal for loop to enter /append contents into list

code_to_test = '''

h_letters = []

for letter in 'human':
    h_letters.append(letter)

print(h_letters)
'''

print("time for this code",timeit.timeit(stmt = code_to_test,number = 1))

['h', 'u', 'm', 'a', 'n']
time for this code 0.0007637850003447966

In [71]:
import timeit
#list comprehension
code_to_test = '''
h_letters =[letter for letter in 'human']
print(h_letters)
'''

print("time for this code",timeit.timeit(stmt = code_to_test,number = 1))

['h', 'u', 'm', 'a', 'n']
time for this code 6.59789993733284e-05

Hence we are all clear that list comprehensions are faster than loops

List comprehension is faster because it is optimized for the Python interpreter to spot a predictable pattern during looping. Besides the syntactic benefit of list comprehensions, they are often as fast or faster than equivalent use of map .

In [72]:
#list comprehension for nested loops
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

# Task 10

Some cool Tricks

In [73]:
List = [1,2,3]
w, v, t = List
print(v, w, t )
print(t, v, w )

2 1 3
3 2 1

In [81]:
#these are not actually list but tuples
#zip function
Year = (1999, 2003, 2011, 2017)
Month = ("Mar", "Jun", "Jan", "Dec")
Day = (11,21,13,5)
for x,y,z in zip(Year,Month,Day):
  print(x,":",y,":",z)

1999 : Mar : 11
2003 : Jun : 21
2011 : Jan : 13
2017 : Dec : 5

In [83]:
#Reversing Strings using list slicing
list1 = ["a","b","c","d"]
print(list1[::-1])

# Reversing Numbers
list2 = [1,3,6,4,2]
print(list2[::-1])

['d', 'c', 'b', 'a']
[2, 4, 6, 3, 1]